{% extends 'submit/base.html' %}


{% block body %}
{{ systemmessage }}
<br>
<form action = '{% url 'submit:send' %}' method = 'post' name = 'submitform'>
{% csrf_token %}
    <table>
    <tr><td>Game:</td><td><input type = 'text' name = 'game' required></td></tr>
    <tr><td>Developer:</td>
	<td><select name = 'dev-drop' >
	    <option value = 'NotADev'>Add New Developer:</option>
	    <option value = 'NotADev'>----------</option>
	    {% for d in developer%}
		<option value = '{{d.name}}'>{{d.name}}</option>
	    {% endfor %}
    </select></td>
    </tr>
    <tr><td>Developer Name:</td> <td><input type = 'text' name = 'dev-text'></td></tr>
    <tr><td>Developer E-Mail:</td> <td><input type = 'email' name = 'dev-email'></td></tr>
    <tr><td>Developer Twitter:</td> <td><input type = 'text' name = 'dev-twitter'></td></tr>
    <tr><td>Played Last Year:</td> <td>
	<input type='radio' name= 'lastyear' value = 'False' checked>No
	<input type='radio' name= 'lastyear' value = 'True'>Yes
    </td></tr>
    </table>
    <input type = 'submit' value = 'submit'></div>
</form>
{% endblock %}

