{% extends 'mybase.html' %}
{% load widget_tweaks %}
{% block head %}

<style>
div.box { background-color:#F7C6EA;float:left;margin:5px;padding:5px; }
div.formtext { width:160;float:left; }
div.formform { width:50%;float:left; }
</style>

<script>

//js/jquery weirds me out, man

//automagical panel for extra info
$(document).ready(function(){
    $( "#button" ).click(function(){
        $( "#moreinfo" ).toggle( "blind" );
                    
    });
});
//search for duplicate game when input loses focus 
$(document).ready(function(){
    $ ( "#game-name" ).blur(function(){
        $.get( '/submit/name_lookup/' + this.value, function(data){
            if(data == 'True') {
                alert('Warning! This game aleady exists!');//replace with inline warning in the future
            };
        });
    });
});
//enable/disable developer fields
$(document).ready(function(){
    $( "#game-developer" ).change(function(){
        if(this.value == ''){
            $( ".dev_field" ).removeAttr("disabled");
        }
        else {
            $( ".dev_field" ).attr("disabled", "disabled");
        };
    });
});
</script>
{% endblock %}
{% block pagetitle %}
GAME/DEVELOPER SUBMISSION FORM
{% endblock %}


{% block body %}
<form action = '{% url 'submit:main' %}' method = 'POST' name = 'submitform'>
{% csrf_token %}
    <div class = 'box' id = 'info' style = 'width:40%;height:200px'>
        <div style = 'width:100%;float:left;text-align:center'>
            Essential Information<p>
        </div><div style = 'clear:both'></div>
        <div class = formtext>Game:</div>{{gameform.name|attr:'required'}}
        <div style = "clear:both"></div>
        <div class = formtext>Played Last Year:</div>{{gameform.lastyear}}
        <div style = "clear:both"></div>

        <div class = formtext>Developer:</div>{{gameform.developer}}
        <div style = "clear:both"></div>

        <div class = formtext>Developer Name:</div>{{devform.name|add_class:'dev_field'|attr:'required'}}
        <div style = "clear:both"></div>

        <div class = formtext>Developer E-Mail:</div>{{devform.email|add_class:'dev_field'}}
        <div style = "clear:both"></div>
        <div style = 'width:100%;text-align:center;padding:20px;'><input type = 'submit' value = 'Submit All'></div> 

    </div>

    <div class = 'box' id = 'button' style = 'width:40;height:200px'>
        I AM A BUTT<br>
        ...-ON
    </div>
    <div class = 'box' id = 'moreinfo' style = 'width:45%;height:400px;display:none;' >
        <div style = 'width:100%;float:left;text-align:center'>
            Additional Information<p>
        </div><div style = 'clear:both'></div>
        <div class = 'formtext'>Game URL:</div>{{gameform.url}}
        <div style = 'clear:both'></div>
        <div class = 'formtext'>Game Genre:</div>{{gameform.genre}}
        <div style = 'clear:both'></div>
        <div class = 'formtext'>Developer Skype:</div>{{devform.skype|add_class:'dev_field'}}
        <div style='clear:both;'></div>
        <div class = 'formtext'>Developer URL:</div>{{devform.url|add_class:'dev_field'}}
        <div style='clear:both;'></div>
        <div class = 'formtext'>Developer Address</div>{{devform.mailing_address|add_class:'dev_field'}}
        <div style='clear:both;'></div>

        <div class = 'formtext'>Developer Twittah:</div>{{devform.twitter|add_class:'dev_field'}}
        <div style='clear:both;'></div>
        <div class = 'formtext' style = 'width:100%;'>Other Developer Notes:</div>{{devform.notes|add_class:'dev_field'}}
        <div style='clear:both;'></div> 
    </div>
</form>
<div style='clear:both;'></div>
{% endblock %}
