<html>

<body>
{% if user.is_staff %}
<form action = '{% url 'submit:tweet' %}' method = 'POST' name = 'tweetform'>
{% csrf_token %}
<div style='float:left;'>
{{form}}
<input type = 'submit' value = 'Write Tweet' name = 'tweet_me'>
</div>
<div style = 'clear:all;'/>
</form>
<form 
</body>
{% endif %}
{% load staticfiles %}
<script type='text/javascript' src='{% static 'js/jquery.js' %}'></script>
<script>
$('#id_gameselect').change(function(){
    $('#id_tweet').val('');
    $('#id_twitter').val('');
   
    $.get( '/submit/tweet_lookup/' + $('#id_gameselect option:selected').val(), function(data){
        var datum = JSON.parse(data);
        console.log(datum.tweet)
        console.log(datum.twitter)
        $('#id_tweet').val(datum.tweet);
        $('#id_twitter').val(datum.twitter);
    })
});
</script>

</html>
